@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Comfortaa:wght@500&family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  justify-content: space-between;
  min-height: 7vh;
  background-color: var(--bg-primary);
}

.navbar ul {
  padding: 0px 25px;
}

.navbar ul li {
  list-style: none;
  padding: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.navbar ul li a:hover {
  cursor: pointer;
  color: white;
}

.logo {
  width: 20px;
  margin: 0 1rem;
}

/* Footer */
.footer {
  background-color: var(--bg-primary);
  min-height: 7vh;
}

.footer a img {
  width: 2em;
  margin: 0px 20px;
}

/* Main */

main {
  background-color: var(--bg-color);
}

/* Home */

#home {
  min-height: 100vh;
  padding-top: 7vh;
}

.photo {
  min-width: 30%;
  margin: 0px auto;
}

.photo img {
  width: 25rem;
  border: white solid 5px;
  border-radius: 20em;
}
.content {
  min-width: 70%;
}

.content h1 {
  font-size: 5em;
}

.content h2 {
  font-size: 3em;
  font-family: 'Comfortaa', cursive;
}

.content h3 {
  font-size: 2em;
  font-family: 'Comfortaa', cursive;
}

.content p {
  margin-top: 2em;
  font-size: 1.5em;
  font-family: 'Baloo Bhai 2', cursive;
}

.content a {
  background-color: rgb(51, 200, 160);
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.intro {
  width: 80%;
}

.resume {
  margin: 50px 0px;
}

/* About */

#about,
#contact,
#projects {
  width: 100%;
  min-height: 100vh;
  padding-top: 7vh;
  background-color: var(--bg-secondary);
  color: var(--color-secondary);
  text-align: center;
  font-family: 'Baloo Bhai 2', cursive;
}

#projects {
  background-color: inherit;
  color: inherit;
}

#about h1,
#contact h1,
#projects h1 {
  padding: 20px;
  text-decoration: underline;
}

.fields {
  padding: 10px;
  margin: 10px;
  font-size: 1.5em;
}

strong {
  font-size: 1.8em;
}

@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }

  .navbar {
    justify-content: center;
    min-height: 7vh;
    background-color: var(--bg-primary);
  }

  .navbar ul {
    padding: 0px;
  }

  .navbar ul li {
    list-style: none;
    padding: 10px;
  }

  .photo {
    margin: 10px auto;
  }

  .photo img {
    width: 15rem;
    border: white solid 5px;
    border-radius: 20em;
  }

  .content h1 {
    font-size: 3em;
  }

  .content h2 {
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
  }

  .content h3 {
    font-size: 1em;
    font-family: 'Comfortaa', cursive;
  }

  .content p {
    margin-top: 1em;
    font-size: 1em;
    font-family: 'Baloo Bhai 2', cursive;
  }

  .fields {
    padding: 10px;
    margin: 10px;
    font-size: 1em;
  }

  strong {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 1370px) {
  .wrap {
    flex-wrap: wrap;
  }

  .photo {
    margin: 10px auto;
  }

  .content-padding {
    padding: 0 50px;
  }
}
